.canvas-container {
    height: 600px;
    width: 600px;
    position: relative;
    margin: 0 auto;
}

.gameButton {
    position: absolute;
    right: -6px;
    top: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.gameButton img {
    width: 32px;
    height: 32px;
}

.gameButton .play {
    display: none;
}